body {
  background-color:green;
}

h2 {
  color: orange;
  text-align: center;
  padding-top: 1em;
  font-family: "Chiller";
}

blockquote {
  color: #0ff;
  font-style: italic;
  background-color: black;
  padding: 1em;
  border-radius: 1em;
}

p#alpha {
  color: #0ff;
  font-style: italic;
  background-color: red;
  padding: 1em;
  border-radius: 1em;
}

p#beta {
  color: #fff;
  font-style: italic;
  background-color: blue;
  padding: 1em;
  border-radius: 1em;
}
